.BankLogo{    
    height: 90px;
    width:45%;
    margin:2.5%;
}

.BankLogo .img-container {
    background: #fff;
    cursor: pointer;
}

.BankLogo .selected{
    border: 3px solid #f97056;
}

.BankLogo .img-container:hover{
    box-shadow:  5px 5px 10px 0px #333;
}

.BankLogo .img {
    max-width: 80%;
}

.Connect-btn{
    width: 312px;
    margin: 2.5%;
    margin-top: 25px;
    margin-bottom: 80px;
}