.Footer-partners{
    color:#fff;
}

.Footer-logos-same-height{
    height:72px;
}

.Footer{
    background: #1D31A4;
}

@media screen and (max-width: 360px) {
    .Footer-partners{
        text-align: center;
    }
    .Footer .spacing{        
        margin:0;
        padding:60px 0;

    }
}