.Header{
    margin: 15px;
    padding:0;
}

.Header-logo{
    float:left;
    width:110px;
}

@media screen and (max-width: 360px) {
    .Header{
        background: #fff;
        margin: 0;
        padding: 0 15px;
    }
}