.home-heading{
    margin-top:30px;
    margin-bottom: 10px;
    color: #ffffff;
    font-stretch: normal;
}

.home-subtitle{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
    max-width: 600px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height: 20px;
}

.main-heading{
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    display: inline-block;
    margin-bottom: 0;
}

.main-body{
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
    color:#333333;
}

.home-shape{
    width: 80%;
    padding-top: 10%;
}

@media screen and (max-width: 360px) {
    .home-shape{
        width:100%;
    }
    .main-heading{
        text-align: center;
    }
    .Content .body{
        text-align: center;
    }
}