@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

body {
  margin: 0;
  padding: 0;
  background: #304FFE;
  width: 100%;
  height:100%;
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  content: "";
  display: table;
  clear: both;
}

.btn{
  border-radius: 1px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;  
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 14px 24px;
  margin: 4px 0px;
  position: relative;
  display: inline-block;
}

.btn-lg {
  font-size: 17.0px;  
  width:328px;
}

.btn-pink{
  background: #f97056;
}

.btn-pink:hover{
  background: #ef573b;
}

.btn-sm {
  font-size: 14.0px;
}

img{
  user-select: none;
}

.img{
  max-width:100%;
  height: auto;
  display: block;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
    font: 0/0 a;
}

.img-container .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.hidden-desktop{
  display: none;
}

.hidden-mobile{
  display: block;
}

.center-content{
  margin-left: auto;
  margin-right: auto;
}

.spacing{
  margin:60px 0;
}

.no-bottom-spacing{
  margin-bottom:0;
}

.no-bottom-spacing{
  margin-bottom: 0;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.pull-left{
    float:left;
}

.pull-right{
    float:right;
}

.full-width{
  width:900px;
}

.medium-width{
  width:680px;
}

.small-width{
  width: 328px;
}

.half-width{
  width:50%;
  padding: 0 15px;
  float: left;
}

.one-fifth-width {
    width: 20%;
    padding: 0 15px;
    float: left;
}

.bg-white{
  background: #fff;
}

.bg-navy{
  background: #29BAF0;
}

.blue-text{
  color: #2F4FFE;
}

button{
  border: none;
}

input{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:20px;
  font-weight: 400;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
  width: 100%;
  background: #fff;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

h1{
  font-family: 'Montserrat', sans-serif; 
  font-size: 42px;
  font-weight:600;
  line-height: 52px;
}

h2{
  font-family: 'Montserrat', sans-serif; 
  font-size: 32px;
  font-weight:600;
  line-height: 39px;
}

h3{
  font-family: 'Montserrat', sans-serif; 
  font-size: 22px;
  font-weight:600;
  line-height: 27px;
  word-break: break-word;
}


.body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:17px;
  font-weight: 400;
  line-height: 22px;
  display: inline-block;
}

.small{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:13px;
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
  opacity:0.8;
}

.white-text{
  color:#fff;
}

.medium-padding{
  padding: 30px 0;
}

.large-padding{
  padding: 60px 0;
}

@media screen and (max-width: 360px) {
  .hidden-desktop{
    display: block;
  }
  .hidden-mobile{
    display: none;
  }
  h1{
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px;
    font-weight:600;
    line-height: 30px;
  }
  h2{
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px;
    font-weight:600;
    line-height: 26px;
  }

  h3{
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    font-weight:600;
    line-height: 24px;
    word-break: break-word;
  }
  .body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    font-weight: 400;
    line-height: 20px;
  }
  .full-width{
    width:100%;
  }
  .half-width{
    width:100%;
  }
  .one-fifth-width{
    width:100%;
  }
  .spacing{
    margin-bottom: 0px;
  }
  .medium-width{
    width:100%;
  }
  .copyright{
      width: 95%;
  }
  .hidden-mobile{
    display: none;
  }
}

