.Account-header{
    border: 1px solid #fff;
    border-radius:1px;
    width:367px;
    margin-top:20px;
    margin-bottom: 20px;
}

.Account-content{
    width:510px;
}

.float-div{
    padding: 0 15px;
}

.float-div.perc60{
    width:60%;
}

.float-div.perc40{
    width:40%;
}

.Transactions{
    background: #fff;
    
}

.TransactionsParent{
    margin: 0 5px;
}

.Transactions-header{
    background: #ededed;
    padding: 0 10px;
}

.Transactions-content{
    padding: 0 10px;
}

.TransactionsParent-showmore{
    margin-top: 25px;
    margin-bottom: 80px;
    display: block;
} 

@media screen and (max-width: 360px) {
    .Account-header{
        width:100%;
        border:none;
    }
    .Account-content {
        width:100%;
    }
    .Account-content-header{
        text-align: center;
        display: block;
    }
    .TransactionsParent {
        margin: 0;
    }
}